{{ define "main" }}

<div class="mx-auto flex max-w-screen-xl">
  {{ partial "components/sidebar.html" (dict "context" . "no_sidebar" true) }}
  {{ partial "components/toc.html" . }}
  <article class="w-full break-words flex min-h-[calc(100vh-var(--navbar-height))] min-w-0 justify-center pb-8 pr-[calc(env(safe-area-inset-right)-1.5rem)]">
    <main class="w-full min-w-0 max-w-6xl px-6 pt-4 md:px-12">

      {{ if .Params.show_breadcrumb }}
      <div class="mb-4">
        {{ partial "components/breadcrumb.html" . }}
      </div>
      {{ end }}

      <h1 class="mt-2 text-4xl font-bold tracking-tight text-slate-900 dark:text-slate-100">
        {{- .Title -}}
      </h1>

      <div class="mt-4 mb-16">
      <div class="text-gray-500 dark:text-gray-300 text-sm flex items-center flex-wrap gap-y-2">
        {{- if .Date | and (not .Params.hide_date) -}}
        <span class="mr-1">{{- .Date | time.Format (site.Params.locale.date_format | default ":date_long") -}}</span>
        {{- end -}}

        {{ if ne .Params.reading_time false }}
        <span class="mx-1">·</span>
        <span class="mx-1">
          {{ .ReadingTime }} {{ i18n "minute_read" }}
        </span>
        {{ end }}
        </div>

        <div class="mt-3">
          {{ partial "page_links_div.html" . }}
        </div>
      </div>

      <div class="prose prose-slate lg:prose-xl dark:prose-invert">
        {{ .Content }}
      </div>

      {{ partial "components/last-edited.html" . }}

      <div class="container mx-auto prose prose-slate lg:prose-xl dark:prose-invert mt-5">
        {{ .Scratch.Set "invert_pager" true }}
        {{/* Custom footer without author display */}}
        <div class="max-w-prose print:hidden">
          {{ partial "tags" . }}
          {{ partial "components/page_sharer" . }}
          {{ partial "components/next-in-series" . }}
          {{ partial "page_related" . }}
          {{ partial "comments" . }}
        </div>
      </div>

    </main>
  </article>
</div>
{{ end }}
