---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Configure variables with Jekyll site settings
@use "variables" with (
  $max-content-width: {{ site.max_width }}
);

// Load theme and layout modules
@use "themes";
@use "layout";
@use "base";
@use "homepage";
@use "distill";
@use "cv";
@use "tabs";
@use "typograms";
@use "contact";
@use "footer";
@use "blog-series";

// Icon libraries
@use "font-awesome/fontawesome";
@use "font-awesome/brands";
@use "font-awesome/solid";
@use "font-awesome/regular";
@use "tabler-icons/tabler-icons" with ($ti-font-path: "../fonts");
@use "tabler-icons/tabler-icons-filled" with ($ti-font-path: "../fonts");
@use "tabler-icons/tabler-icons-outline" with ($ti-font-path: "../fonts");
@use "flag-icons/flag-icons";
